body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

.side-nav{
      padding-top: 5%;
  }

  .logo img{
      width: 40%;
      height: 175%;
      margin-bottom: 50px;
      margin-left: 20%;
  }

  .search{
      margin-top: 50px;
  }

  main {
    flex: 1 0 auto;
    margin-left: 300px;
  }

  footer{
      margin-left: 300px;
  }